on: push

jobs:
  build-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: 11
    - run: |
        sudo brew install curl-openssl xerces-c libxslt swig
        mkdir build
        cd build
        cmake -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_EXTENSIONS=OFF -DCMAKE_CXX_FLAGS='-DU_USING_ICU_NAMESPACE=1' -DCMAKE_CXX_STANDARD=14 -DCMAKE_CXX_STANDARD_REQUIRED=ON -DCMAKE_INSTALL_PREFIX=$(pwd)/install -DCMAKE_INSTALL_RPATH=$ORIGIN/ -DZORBA_FOR_ONE_THREAD_ONLY=OFF -DZORBA_SUPPRESS_CSHARP=ON -DZORBA_SUPPRESS_PHP=ON -DZORBA_SUPPRESS_PYTHON=ON -DZORBA_SUPPRESS_RUBY=ON -DZORBA_WITH_BIG_INTEGER=ON -DZORBA_XQUERYX:BOOL=ON ..
        make -j2
        make install
    - uses: actions/upload-artifact@v1
      with:
        name: zorba.linux-amd64
        path: build/install
